html,
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  background-image: none;
}

a {
  text-decoration: none;
  }

.main-nav {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-nav {
  list-style: none;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus{
  color: #81b3d2;
}

.site-nav a:active {
  color: #000000;
  opacity: 0.3;
}

.heading {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.content-text {
  font-size: 14px;
  color: #333333;
  line-height: 26px;
  font-weight: 400;
}

.combo {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.features-advice {
  list-style: none;
}

.advice-item {
  text-align: center;
}

.features-list {
  background-color: #eeeeee;
  text-align: center;
}

.huge-heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.booking-content {
  text-align: center;
}

.brown-btn {
  color: #ffffff;
  background-color: #766357;
  text-transform: uppercase;
}

.brown-btn:hover {
  background-color: #604e43;
}

.brown-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.booking-form-body {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.btn-search {
  color: #ffffff;
  background: #81b3d2;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-search:hover {
  background-color: #669ec0;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-social {
  list-style: none;
}

.footer-copyright-logo:hover path{
  fill: #81b3d2;
}

.footer-copyright-logo:active path {
  fill: #bdbbbc;
}



/*--------------- catalog -----------------*/

.inner-page {
  background-image: url("../img/filter-background.jpg");
}

.filter-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-type,
.filter-infrastructure,
.filter-price {
  color: #ffffff;
}

.btn-filter {
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border-color: #ffffff;
  text-transform: uppercase;
}

.btn-filter:hover {
  color: #000000;
  background: #ffffff;
}

.sorting-list {
  list-style: none;
}

.sorting-name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-list-el {
  color: rgba(0, 0, 0, 0.3);
  border-bottom:1px dotted #81b3d2;
}

.sorting-list-el:hover {
  color: #81b3d2;
}

.sorting-list-el:active {
  color: #000000;
  border-bottom: none;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-book {
  font-weight: 700;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}



/*--------------- сеточные стили -----------------*/

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-header-content {
  display: flex;
  justify-content: center;
}

.main-header-h1 {
  display: flex;
  justify-content: center;
}

.first-feature {
  display: flex;
  justify-content: center;
}

.second-feature {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.features-advice {
  display: flex;
  justify-content: space-around;
}

.features-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}
